fastapi
uvicorn
python-dotenv
requests
spotipy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
langchain
qdrant-client
unstructured
pytesseract
pypdf
Pillow
openai
yt-dlp
thefuzz[speedup]
pytz
transformers
gTTS